 * {
  margin: 0px;
  border: 0px;
  padding: 0px;
  text-decoration: none;
  color: black;
}
.top-navi {
  text-align: center;
  height: 20px;
  width: 700px;
  margin-top: 30px;
  margin-left: 20px;
}
ul {
  list-style-type: none;
}
.top-navi-list {
  display: inline;
  margin-right: 40px;
  font-family: Georgia, serif;
  font-size: 150%;
}
.routes {
  height: 20px;
  width: 720px;
  margin-top: 30px; 
}
.sort {
  width: 700px;
  height: 30px;
  margin-top: 20px;
  margin-left: 20px;
}
.sort div {
  float: left;
}

#post-btn {
  margin-left: 390px;
  height: 23px;
  width: 80px;
  font-size: 90%;
  font-weight: 500;
  background-color: #efefef;
  border: 1px solid #999999;
}

#comment-btn {
  margin-left: 390px;
  height: 23px;
  width: 110px;
  font-size: 87%;
  font-weight: 500;
  background-color: #efefef;
  border: 1px solid #999999;
}

.one-post {
  margin-left: 20px;
  margin-top: 20px;
  width: 700px;
}
.one-comment {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 800px;
}
.comment-count-display, .comment-number-display {
  background-color: white;
  width: 80px;
  /* height: 100px; */
  float: left;
  clear: left;
  margin: 10px;  
}
.post-display {
  background-color: white;
  width: 450px;
  /* height: 100px; */
  float: left;
  margin-top: 0px;
  margin-bottom: 28px;
  margin-left: 20px;
}
.comment-display {
  background-color: white;
  width: 430px;
  /* height: 100px; */
  float: left;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 140px;
} 

.title {
  font-family: Georgia, serif;
  font-size: 106%;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title-postdetails, .title-comment {
  font-family: Georgia, serif;
  font-size: 106%;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  border: 0px;
  line-height: 130%;
}
.body {
  font-family: Georgia, serif;
  font-size: 90%;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  border: 0px;  
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.body-postdetails {
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: Georgia, serif;
  font-size: 95%;
  font-weight: 300;
  padding: 0px;
  border: 0px;    
  line-height: 130%;
}
.body-comment {
  margin-top: 0px;
  margin-bottom: 3px;
  font-family: Georgia, serif;
  font-size: 95%;
  font-weight: 300;
  padding: 0px;
  border: 0px;    
  line-height: 110%;
}
.author {
  margin: 0px;
  padding: 0px;
  font-size: 90%;
  font-style: italic;
  /* height: 17px; */
  overflow: hidden;
}
.author .poster {
  font-weight: 500;
}
.author .time {
  color: #888888;
  font-weight: thin;
}
.btns {
  margin: 0px;
  padding: 0px;
}

.btn {
  height: 20px;
  width: 55px;
  font-size: 77%;
  font-weight: 500;
  background-color: #efefef;
  border: 1px solid #999999;  
  margin-right: 3px;
  margin-top: 5px;
}

.comment {
  width: 70px;
}






.vote {
  background-color: white;
  width: 100px;
  /* height: 100px; */
  float: left;
  margin-left: 10px;
}
.arrow {
  height: 18px;
  width: 18px;
  margin-left: 5px;
}
.vote-left {
  float: left;
  width: 18px;
  /* height: 90px; */
  background-color: white;
  margin-left: 5px;
}
.vote-right {
  float: left;
  width: 65px;
  height: 90px;
  background-color: white;
}
.vote-score, .comment-score {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 140%;
  font-weight: 700;
  color: #777777;
  text-align: center;
}
.vote-score-label, .comment-score-label {
  margin-top: -2px;
  padding: 0px;
  border: 0px;
  font-size: 80%;
  text-align: center;
}


.gap {
  height: 5px;
  width: 680px;
  background-color: white;
  float: left;
  clear: left;
  margin-top: -15px;
}

hr {
  display: block;
  margin-left: 140px;
  border-style: inset;
  border-width: 1px;
  border-color: #efefef
}